@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

html {
	font-size: 1vh;
	font-family: "Manrope", sans-serif;
	scroll-snap-type: y mandatory;
	overflow: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-width: thick;
	scrollbar-color: rgb(255, 68, 68) rgb(44, 32, 32);
}

body {
	margin: 0;
	padding: 0;
}

/*-- Scroll bar */
html::-webkit-scrollbar {
	width: 8px;
	padding-right: 10px;
}

/* Style the track (optional) */
html::-webkit-scrollbar-track {
	background-color: rgb(44, 32, 32);
}

/* Style the thumb (optional) */
html::-webkit-scrollbar-thumb {
	background-color: rgb(255, 68, 68);
}

html .section {
	scroll-snap-align: start;
	height: 100%;
	width: 100%;
	position: relative;
}

canvas {
	display: block;
	position: fixed !important;
}

.box__text {
	text-align: center;
	top: 0%;
	color: white !important;
	position: fixed;
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	cursor: default;

}

.box__text .subtitle {
	padding-right: 20%;
	padding-left: 20%;
	padding-top: 12em;
	font-size: 2em;
	align-self: center;
	text-align: center;
}

.box__text .titleSYMM {
	width: 100%;
	padding: 0em 0em 0em 0.5em;
	letter-spacing: 1.2em;
	position: fixed;
	text-align: center;
	font-size: 12em;
	bottom: 0.05em;
}

.box__text .list_top {
	font-size: 2.2em;
	position: fixed;
	left: 10%;
	top: 20%;
	width: 40%;
	line-height: 1.6em;
	letter-spacing: 0.05em;
	color: gray;
	text-align: left;

}


.box__text .list_top .head-span {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to right, #ffffff, #e75454);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	/* Fallback color if gradient is not supported */
	color: #e75454;
	letter-spacing: 0.1em;
	font-weight: 600;
	font-size: 1.5em;
	margin-top: 0;
}

.box__text .list_top .active-span {
	color: white;
	font-weight: 1.005em;
}

.gradiant {
	background: #e75454;
	background: -webkit-linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background: -moz-linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background: linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.captionMain {
	align-self: center;
	/* Set width to auto to allow the element to take its content's width */
	font-size: 5em;
	position: fixed;
	z-index: 2;
	/* Use transform to horizontally center the element */
	padding-top: 1.5em;
	transition: opacity 0.1s ease-out, transform 0.5s ease-out;
	/* Add transition for ease-out effect */
}

.testmargin {
	padding-right: 5.5em;
}

.text-box {
	-webkit-text-fill-color: rgb(230, 92, 92) !important;
	display: inline-block;
	position: relative;
	padding-right: 1em;
}


.text-box div {
	position: absolute;
	transform: rotateX(-90deg);
	opacity: 0;
	animation-timing-function: ease;
}

.text-box div:nth-child(1) {
	animation: rollDown 20s forwards infinite;
}

.text-box div:nth-child(2) {
	animation: rollDown2 20s forwards infinite;
}

.text-box div:nth-child(3) {
	animation: rollDown3 20s forwards infinite;
}

.text-box div:nth-child(4) {
	animation: rollDown4 20s forwards infinite;
}

.text-box div:nth-child(5) {
	animation: rollDown5 20s forwards infinite;
}

.text-box div:nth-child(6) {
	animation: rollDown6 20s forwards infinite;
}

.text-box div:nth-child(7) {
	animation: rollDown7 20s forwards infinite;
}

.text-box div:nth-child(8) {
	animation: rollDown8 20s forwards infinite;
}

.text-box div:nth-child(9) {
	animation: rollDown9 20s forwards infinite;
}

.text-box div:nth-child(10) {
	animation: rollDown10 20s forwards infinite;
}

:root {
	--textroll-top: -2em;
	--textroll-mid: -1.07em;
	--textroll-bot: 0em;
}

@keyframes rollDown {
	0% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	1% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	8% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	9% {
		top: var(--textroll-bot);
		transform: rotateX(90deg);
		opacity: 0;
	}
}

@keyframes rollDown2 {
	9% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	10% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	18% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	19% {
		top: var(--textroll-bot);
		transform: rotateX(90deg);
		opacity: 0;
	}
}

@keyframes rollDown3 {
	19% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	20% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	28% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	29% {
		top: var(--textroll-bot);
		transform: rotateX(90deg);
		opacity: 0;
	}
}

@keyframes rollDown4 {
	29% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	30% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	38% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	39% {
		top: var(--textroll-bot);
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown5 {
	39% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	40% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	48% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	49% {
		top: var(--textroll-bot);
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown6 {
	49% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	50% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	58% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	59% {
		top: var(--textroll-bot);
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown7 {
	59% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	60% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	68% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	69% {
		top: var(--textroll-bot);
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown8 {
	70% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	71% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	78% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	79% {
		top: var(--textroll-bot);
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown9 {
	80% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	81% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	88% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	89% {
		top: var(--textroll-bot);
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown10 {
	89% {
		top: var(--textroll-top);
		transform: rotateX(-90deg);
		opacity: 0;
	}

	90% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	98% {
		top: var(--textroll-mid);
		transform: rotateX(0deg);
		opacity: 1;
	}

	99% {
		top: var(--textroll-bot);
		transform: rotateX(30deg);
		opacity: 0;
	}
}

/*-------------scroll down icon*/
.scrollDown {
	position: fixed;
	z-index: 9;
	right: 7.0em;
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
	text-decoration: none;
	bottom: 5em;
	height: 3em;
	width: 3em;
	cursor: pointer;
	padding: 1.1em;
}


.chevron {
	position: absolute;
	width: 6em;
	height: 0.4em;
	opacity: 0;
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	height: 100%;
	width: 51%;
	background: #fff;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

@keyframes move {
	25% {
		opacity: 1;

	}

	33% {
		opacity: 1;
		transform: translateY(1em);
	}

	67% {
		opacity: 1;
		transform: translateY(2em);
	}

	100% {
		opacity: 0;
		transform: translateY(3em);
	}
}



@keyframes pulse {
	to {
		opacity: 1;
	}
}


/*---------------------About Us----------------------  */

.about_section {
	padding-top: 15%;
	z-index: 2;

}


.about {
	padding-bottom: 15em;
	display: flex;
	flex-direction: row;
}

.button_spilit {
	display: flex;
	flex-direction: row;
}

.about .button_box {
	align-items: center;
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

.button {
	background-color: #000000a5;
	transition: all .2s ease-in-out;
	text-decoration: none;
	position: relative;
	padding: 0.5em 1em 0em 1em;
	margin: 1em;
	text-align: left;
	border: solid 1px;
	border-color: #FFF;
	appearance: none;
	cursor: pointer;
	display: flex;
	outline: none;
	color: #fff;
	font-size: 2.0em;
}

.button-text {
	margin-top: 0.5em;
	font-size: 1em;
	padding-bottom: 1em;
}

.socialicon {
	color: #ffffff;
	margin: 2em;
	height: 4em;
	width: 4em;
}

.socialicon:hover {
	transition: all .2s ease-in-out;
	transform: translateY(-2px);
	cursor: pointer;
	border-color: rgb(255, 92, 92);
	color: #ffbaba;
}

.about_text {
	font-size: 3em;
	letter-spacing: 0;
	font-weight: 600;
	line-height: 1.25;
}

.button-icon {
	margin-right: 1em;
	height: 3em;
	width: 2em;
	top: 0;
}

.button:hover {
	border-color: rgb(255, 92, 92);
	color: #ffbaba;
	transform: translateY(-2px);
}

.button:active {
	transform: translateY(0);
}

.button:before {
	animation: pulse 2s ease infinite;
	border: 4px;
	border-color: white;
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}


.footer {
	position: absolute;
	font-size: 2em;
	color: #8a8a8a;
	bottom: 1%;
	width: 100%;
	align-items: center;
	text-align: center;
}




























/*------------------------- small screens -------------------------*/








@media screen and (max-width: 1000px) {

	/*---------------------About Us----------------------  */
	.about_section {
		padding-top: 15em;
		z-index: 2;
	}

	.about {
		padding-bottom: 0em;
		flex-direction: column;
	}

	.button_spilit {
		display: flex;
		flex-direction: column;
	}

	.about_text {
margin-top: 2em;
	}
	.button {
		padding: 1em 4em 0em 4em;
		text-align: left;
		border: solid 1px;
		border-color: #FFF;
		appearance: none;
		cursor: pointer;
		display: flex;
		outline: none;
		color: #fff;
		margin: 2em 0.0em em 0em;
		font-size: 1em;
	}

	.button-icon {
		margin-right: 1em;
		height: 4em;
		width: 4em;
		margin-top: 0.5em;
	}

	.button-text {
		font-size: 2.0em;

		margin-top: 0.2em;
	}

	.button_box .about_text {
		font-size: 2.5em;
	}

	/*---------------------Home----------------------  */

	.captionMain {
		align-self: center;
		/* Set width to auto to allow the element to take its content's width */
		font-size: 3em;
		position: fixed;
		z-index: 2;
		/* Use transform to horizontally center the element */
		padding-top: 7em;
		transition: opacity 0.1s ease-out, transform 0.5s ease-out;
		/* Add transition for ease-out effect */
	}
	
	.box__text .titleSYMM {
		width: 100%;
		letter-spacing: 0.5em;
		font-size: 6em;
		top: 0;
		margin-top: 2em;
	}

	:root {
		--textroll-top: -2.0em;
		--textroll-mid: -1.07em;
		--textroll-bot: -0.0em;
	}


	.box__text .subtitle {
		font-size: 1.7em;
		padding-top: 18em;
		width: 90%;
	}

	.scrollDown {
		position: fixed;
		text-align: center;
		text-decoration: none;
		bottom: 5em;
		height: 3em;
		width: 100%;
		right: 2.5em;
		
	}

	.chevron {
		width: 7em;
	}



	.box__text .list_top {
		font-size: 1.6em;
		top: 10%;
		width: 80%;
	}

	.box__text .list_top .head-span {
		font-size: 1.3em;
	}


}